# Requirements to run the code
numpy==2.1.0
scipy==1.14.1
pandas==2.2.2
statsmodels==0.14.2
tqdm==4.66.5
#scikit-learn>=1.5.1

# Jupyter Notebooks
jupyter
notebook==7.2.2
jupytext==1.16.4
jupyterthemes
ipython==8.26.0

# Plotting
matplotlib==3.9.2
seaborn==0.13.2
