# Requirements to run the code
numpy==2.3.5
scipy==1.16.3
pandas==2.3.3
statsmodels==0.14.5
tqdm==4.67.1
scikit-learn==1.7.2
numba==0.62.1
joblib==1.5.2
sympy==1.14.0

# Jupyter Notebooks
jupyter==1.1.1
notebook==7.4.7
jupytext==1.18.1
jupyterthemes==0.20.0
ipython==9.7.0

# Plotting
matplotlib==3.10.7
seaborn==0.13.2
